<style>
  @media print {
    footer,
    .custom-footer,
    .md-footer {
      display: none !important;
    }
  }
</style>

<!-- Navigations-Links (Zurück / Weiter) -->
{% if page.previous_page or page.next_page %}
  <nav class="md-footer__inner md-grid" aria-label="{{ lang.t('footer') }}">
    {% if page.previous_page %}
      <a href="{{ page.previous_page.url | url }}" class="md-footer__link md-footer__link--prev" aria-label="{{ lang.t('footer.previous') }}: {{ page.previous_page.title | e }}" rel="prev">
        <div class="md-footer__button md-icon">
          {% include ".icons/material/arrow-left.svg" %}
        </div>
        <div class="md-footer__title">
          <span class="md-footer__direction">
            {{ lang.t('footer.previous') }}
          </span>
          <div class="md-ellipsis">
            {{ page.previous_page.title }}
          </div>
        </div>
      </a>
    {% endif %}
    {% if page.next_page %}
      <a href="{{ page.next_page.url | url }}" class="md-footer__link md-footer__link--next" aria-label="{{ lang.t('footer.next') }}: {{ page.next_page.title | e }}" rel="next">
        <div class="md-footer__title">
          <span class="md-footer__direction">
            {{ lang.t('footer.next') }}
          </span>
          <div class="md-ellipsis">
            {{ page.next_page.title }}
          </div>
        </div>
        <div class="md-footer__button md-icon">
          {% include ".icons/material/arrow-right.svg" %}
        </div>
      </a>
    {% endif %}
  </nav>
{% endif %}

<!-- Zweispaltiger Custom Footer -->
<div class="custom-footer">
  <div class="custom-footer__inner md-grid">
    <div class="custom-footer__col custom-footer__col--left">
      <div class="custom-footer__title">Lizenz</div>
      <div class="custom-footer__content">
        © 2026 MMBbS Hannover
      </div>
    </div>

    <div class="custom-footer__col custom-footer__col--right">
      <div class="custom-footer__title">Kontakt</div>
      <div class="custom-footer__content">
        <a href="mailto:info@mmbbs.de">info@mmbbs.de</a><br>
        <a href="https://www.mmbbs.de" target="_blank" rel="noopener">www.mmbbs.de</a>
      </div>
    </div>
  </div>
</div>