<div class="front-cover">

  <div class="cover-header">
    <div class="cover-logo">
      <img src="/bilder/logo_2.png" alt="MMBbS Hannover" width="600" height="180">
    </div>
  </div>

  <div class="cover-content">
    <div class="cover-school">
      Multi Media Berufsbildende Schulen<br>der Region Hannover
    </div>

    <div class="cover-title">
      Schulordnung
    </div>

    <div class="cover-line"></div>
  </div>

  <div class="cover-footer-container">
    <div class="cover-address">
      Expo-Plaza 3, 30539 Hannover<br>
      www.mmbbs.de<br>
      info@mmbbs.de
    </div>

    <div class="cover-secondary-logo">
      <img src="/bilder/logo_region_hannover.png" alt="Region Hannover" width="150" height="150">
    </div>
  </div>

</div>